<!DOCTYPE html>
<html lang="de">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Zeichenfläche</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
    <main class="container">
        <h1>Male auf dem quadratischen Canvas</h1>
        <div class="canvas-wrap">
            <canvas id="board" width="28" height="28" aria-label="Zeichenfläche"></canvas>
        </div>
        <div class="controls">
            <button id="clearBtn">Löschen</button>
            <button id="sendBtn">Senden</button>
        </div>
        
    </main>

    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</body>
</html>
